@import '../../style/themes/default.scss';
@import '../../style/mixin/index.scss';

.#{$prefix}-message {
  position: fixed;
  top: 20px;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);

  //输入的HTML
  &-box {
    display: flex;

  }

  &-notice {
    position: relative;
    margin-bottom: 16px;
    padding: 8px 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: #fff;
    display: flex;


    &-content {
      display: flex;
      flex: 1;
      letter-spacing: 1px;
    }


    &-close {
      cursor: pointer;
    }


    &-info {
      &-title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
      }
    }
  }
}
