$prefix:busyzz;
$primary-color:#1890ff;
$primary-color-2:#096dd9;
$danger-color:#ff4d4f;
$success-color:#06D200;
$normal-color:#d9d9d9;
$warn-color:#F4BD00;
$white:#fff;
$white-2:#F5F5F5;
$black:#000;
