$prefix:busyzz;

//颜色
$primary-color:#1890ff;
$primary-color-2:#096dd9;
$danger-color:#ff4d4f;
$success-color:#06D200;
$normal-color:#d9d9d9;
$warn-color:#F4BD00;
$white:#fff;
$white-2:#F5F5F5;
$black:#000;
$disabled-color:$white-2;
//边框
$border-color:$normal-color;
$border-radius:4px;
$border-radius-xs:2px;
//字体
$font-size-base:14px;
$font-size-large:16px;
$text-color:fade($black, 65%);
$line-height-base:1.5;
//media query
$screen-xs:480px;
$screen-xs-min:$screen-xs;
$screen-sm:576px;
$screen-sm-min:$screen-sm;
$screen-md:768px;
$screen-md-min:$screen-md;
$screen-lg:992px;
$screen-lg-min:$screen-lg;
$screen-xl:1200px;
$screen-xl-min:$screen-xl;
$screen-xxl:1600px;
$screen-xxl-min:$screen-xxl;
