@import '../../style/themes/default.scss';
@import '../../style/mixin/index.scss';

.#{$prefix}-radio {
  display: inline-block;
  position: relative;
  cursor: pointer;
  vertical-align: middle;

  &:hover {
    .#{$prefix}-radio-inner {
      border-color: $primary-color;
      cursor: pointer;
    }
  }

  &-input {
    opacity: 0;
    z-index: 1;
    border-radius: 16px;
    cursor: pointer;
    @include absWithFather();
  }

  &-inner {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid $border-color;
    border-radius: 16px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      left: 3px;
      top: 3px;
      background: $primary-color;
      height: 8px;
      width: 8px;
      border-radius: 10px;
      opacity: 0;
      transform: scale(0);
      transition: all 0.3s ease-in-out;
    }
  }

  &-checked {
    &::after {
      @include clickedEffect();
      border-radius: 16px;
    }

    .#{$prefix}-radio {
      &-inner {
        border-color: $primary-color;

        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  &-text {
    padding: 0 8px;
    cursor: pointer;
  }

  &-wrapper {
    display: inline-block;

    &+& {
      margin-left: 8px;
    }

    &-disabled {
      cursor: not-allowed;

      .#{$prefix}-radio {
        &:hover {
          .#{$prefix}-radio-inner {
            border-color: $border-color;
          }
        }

        &-inner {
          background: $disabled-color;
          border: 1px solid $border-color;

          &::after {
            border-color: $border-color;
          }
        }

        &-input,
        &-text {
          cursor: not-allowed;
        }

        &-checked {
          .#{$prefix}-radio-inner {
            &::after {
              border-color: $border-color;
              background: #aaa;
            }
          }

          &::after {
            border-color: $border-color;
          }
        }
      }
    }
  }
}
