@import '../themes/default.scss';

//清除浮动
@mixin clearfix() {
  zoom: 1;

  &::before,
  &::after {
    display: table;
    content: '';
  }

  &::after {
    clear: both;
  }
}

//重置样式
@mixin reset-component() {
  font-size: $font-size-base;
  color: $text-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: $line-height-base;
}
