@import '../themes/default.scss';

//清除浮动
@mixin clearfix() {
  zoom: 1;

  &::before,
  &::after {
    display: table;
    content: '';
  }

  &::after {
    clear: both;
  }
}

//重置样式
@mixin reset-component() {
  font-size: $font-size-base;
  color: $text-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: $line-height-base;
}

//设置一个 跟 父容器一样大小的元素
@mixin absWithFather() {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

//设置点击后的动画环绕效果
@mixin clickedEffect($border-color:$primary-color, $animationCount:1) {
  @keyframes borderEffect {
    0% {
      transform: scale(1);
      opacity: 1;
      border-width: 1px;
    }

    100% {
      transform: scale(1.4);
      opacity: 0;
      border-width: 2px;
    }
  }

  @include absWithFather();
  content:'';
  border:1px solid $border-color;
  border-radius: $border-radius-xs;
  animation: borderEffect 0.3s ease-in-out $animationCount;
}

//点击实现 波纹效果  加在::after 或者before里面
@mixin wave($color:$primary-color) {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  border: 1px solid $color;
  border-radius: inherit;
}

@keyframes borderEffect {
  0% {
    opacity: 1;
    border-width: 1px;
  }

  100% {
    opacity: 0;
    left: -4px;
    right: -4px;
    top: -4px;
    bottom: -4px;
    border-width: 4px;
  }
}
