@import '../../style/themes/default.scss';
@import '../../style/mixin/index.scss';

.#{$prefix}-notification,
.#{$prefix}-notification-topRight {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9;
  max-width: 400px;

  // placement
  &-topLeft {
    left: 20px;
  }

  &-bottomLeft {
    top: auto;
    left: 20px;
    bottom: 20px;
  }

  &-bottomRight {
    top: auto;
    bottom: 20px;
  }

  &-notice {
    position: relative;
    margin-bottom: 16px;
    padding: 16px 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: #fff;
    display: flex;

    //容器
    &-content {
      width: 300px;
      display: flex;
      flex: 1;
    }

    //关闭按钮
    &-close {
      cursor: pointer;
    }

    //内容
    &-info {
      &-title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
      }
    }
  }
}
