@mixin btn-color($backgroundColor, $color) {
  border-color: $backgroundColor;
  color: $color;
  background: $backgroundColor;

  &:hover {
    background: lighten($backgroundColor, 5%);
    border-color: lighten($backgroundColor, 5%);
  }

  &:active {
    background: darken($backgroundColor, 10%);
    border-color: darken($backgroundColor, 10%);

  }
}

@mixin btn-size($size, $padding, $height) {
  font-size: $size;
  padding: 0 $padding;
  height: #{$height + 'px'};
  line-height: #{$height - 2 +'px'};

  &-round {
    border-radius:#{$height + 'px'};
  }
}
