@import '../../style/themes/default.scss';
@import '../../style/mixin/index.scss';

.#{$prefix}-tabs {
  &-nav {
    @include clearfix();
    transition: all 0.3s;

    &-wrapper {
      border-bottom: 1px solid $border-color;
      position: relative;
    }

    &-scroll {
      white-space: nowrap;
      overflow: hidden;
      // margin: 0 20px
    }

    //对应的元素
    &-tabPane {
      padding: 12px 16px;
      display: inline-block;
      border-top: 1px solid #f00;
      margin-right: 32px;
      cursor: pointer;
      transition: all .3s;

      &.active,
      &:hover {
        color: $primary-color;
      }
    }

    &-ink {
      position: absolute;
      bottom: -1px;
      left: 0;
      height: 2px;
      width: 100px;
      background: $primary-color;
      z-index: 99;
      transition: all 0.3s;
    }
  }

  //content
  &-content {
    overflow: hidden;
    white-space: nowrap;

    &-wrapper {
      @include clearfix();
    }

    &-item {
      display: inline-block;
      opacity: 0;

      &.active {
        opacity: 1;
      }
    }
  }
}
