.test-box {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  margin-left: 100px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;
    background: red;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
  }
}

.normal-position {
  position: absolute;
}

.outer {
  border: 1px solid #000;
  height: 100px;
  width: 100px;
  padding: 10px;
  overflow: scroll;
}

.inner {
  height: 150px;
}

body {
  padding: 20px;
}


// .csl {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: rgba(0, 0, 0, 0.4)
// }
