.test-box {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  margin-left: 100px;
  position: relative;
  background: #000;
}

.normal-position {
  position: absolute;
}

.outer {
  border: 1px solid #000;
  height: 100px;
  width: 100px;
  padding: 10px;
  overflow: scroll;
}

.inner {
  height: 150px;
}

body {
  padding: 20px;
}

// .csl {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: rgba(0, 0, 0, 0.4)
// }
.progress {
  display: flex;

  &-outer {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &-inner {
    background: #f5f5f5;
    height: 8px;
    border-radius: 4px;
    width: 100%;
    position: relative;
  }

  &-bg {
    position: absolute;
    width: 80%;
    background: #f00;
    height: 8px;
    border-radius: 4px;

    &::after {
      content: '';
      position: absolute;
      height: 8px;
      border-radius: 4px;
      width: 20%;
      background: #f5f5f5;
      animation: bgEffect 1.6s infinite ease-in-out;
    }
  }

  &-text {
    margin-left: 10px;
  }
}

@keyframes bgEffect {
  0% {
    opacity: 0.1;
    width: 0;
  }

  100% {
    opacity: 0.5;
    width: 100%;
  }
}

.bg {
  background-color: #f00;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
  transform: translateX(100%);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.alert-leave {
  opacity: 1;
}

.alert-leave-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
