@import '../../style/themes/default.scss';
@import '../../style/mixin/index.scss';

.#{$prefix}-collapse {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  overflow: hidden;

  &-item {
    overflow: hidden;
    border-bottom: 1px solid $border-color;

    &-header {
      padding: 12px 16px;
      background: #f5f5f5;
      cursor: pointer;
      position: relative;

      &-icon {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        transition: all 0.3s;

        &.active {
          transform: translateY(-50%) rotate(90deg);
        }
      }
    }

    &-body {
      border-top: 1px solid $border-color;
      transition: all 0.3s;

      &-box {
        padding: 12px 16px;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &-left {
    .#{$prefix}-collapse-item-header {
      padding-left: 30px;
    }
  }

  &-right {
    .#{$prefix}-collapse-item-header {
      padding-right: 30px;

      &-icon {
        right: 10px;
        left: auto;
      }
    }
  }
}
