//message 动画
.message-enter {
  opacity: 0;
  transform: translateY(-100px);
}

.message-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.message-leave {
  opacity: 1;
}

.message-leave-active {
  opacity: 0;
  transition: opacity 300ms;
}

//modal
.buzz-enter,
.buzz-appear {
  opacity: 0;
  transform: scale(0.5);
}

.buzz-enter-active,
.buzz-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.buzz-leave {
  opacity: 1;
  transform: scale(1);
}

.buzz-leave-active {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 300ms, transform 300ms;
}

//drawer
//RIGHT
.slideFromRight-enter,
.slideFromRight-appear {
  opacity: 0.5;
  transform: translate3d(100%, 0, 0);
}

.slideFromLeft-enter,
.slideFromLeft-appear {
  opacity: 0.5;
  transform: translate3d(-100%, 0, 0);
}

//Bottom
.slideFromBottom-enter,
.slideFromBottom-appear {
  opacity: 0.5;
  transform: translate3d(0, 100%, 0);
}

.slideFromRight-enter-active,
.slideFromRight-appear-active,
.slideFromLeft-enter-active,
.slideFromLeft-appear-active,
.slideFromBottom-enter-active,
.slideFromBottom-appear-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 300ms, transform 300ms;
}

.slideFromRight-leave,
.slideFromLeft-leave,
.slideFromBottom-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.slideFromRight-leave-active {
  opacity: 0.5;
  transform: translate3d(100%, 0, 0);
  transition: opacity 300ms, transform 300ms;
}

//LEFT
.slideFromLeft-leave-active {
  opacity: 0.5;
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(-100%, 0, 0);
}

//Bottom
.slideFromBottom-leave-active {
  opacity: 0.5;
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(0, 100%, 0);
}

//收缩高度
.collapseHeight-enter,
.collapseHeight-appear {
  transform: scaleY(0);
  transition: all 300ms;
  transform-origin: 0 0;
}

.collapseHeight-enter-active,
.collapseHeight-appear-active {
  transform: scaleY(1);
}

.collapseHeight-leave {
  transform-origin: 0 0;
  transform: scaleY(1);
  transition: all 300ms;
}

.collapseHeight-leave-active {
  transform: scaleY(0);
}
