//message 动画
.message-enter {
  opacity: 0;
  transform: translateY(-100px);
}

.message-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.message-leave {
  opacity: 1;
}

.message-leave-active {
  opacity: 0;
  transition: opacity 300ms;
}

.buzz-enter,
.buzz-appear {
  opacity: 0;
  transform: scale(0.5);
}

.buzz-enter-active,
.buzz-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.buzz-leave {
  opacity: 1;
  transform: scale(1);
}

.buzz-leave-active {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 300ms, transform 300ms;
}
