//message 动画
.message-enter {
  opacity: 0;
  transform: translateY(-100px);
}

.message-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.message-leave {
  opacity: 1;
}

.message-leave-active {
  opacity: 0;
  transition: opacity 300ms;
}
