@import '../../style/themes/default.scss';
@import '../../style/mixin/index.scss';
@import './mixin.scss';

.#{$prefix}-row {
  position: relative;
  height: auto;
  zoom: 1;
  display: block;
  box-sizing: border-box;
  @include clearfix();
}

@include makeCol();
@include makeColWithSize('xs');

@media (min-width:$screen-sm-min) {
  @include makeColWithSize('sm');
}

@media (min-width:$screen-md-min) {
  @include makeColWithSize('md');
}

@media (min-width:$screen-lg-min) {
  @include makeColWithSize('lg');
}

@media (min-width:$screen-xl-min) {
  @include makeColWithSize('xl');
}

@media (min-width:$screen-xxl-min) {
  @include makeColWithSize('xxl');
}
